@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

html {
    scroll-behavior: smooth;
  }

  .custom-list-style ol {
    list-style-type: decimal; /* numbered */
    padding-left: 1.5em;
  }
  
  .custom-list-style ul {
    list-style-type: disc;
    padding-left: 1.5em;
  }
  
  .custom-list-style li {
    margin-bottom: 0.5em;
  }
  